<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Examen Final Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <div class="contenedor menu">
        <h1>Examen Final</h1>
        <h2>Programación Web con Flask</h2>

        <p>Seleccione el ejercicio que desea realizar:</p>

        <div class="botones">
            <a href="/ejercicio1" class="boton">Ejercicio 1</a>
            <a href="/ejercicio2" class="boton">Ejercicio 2</a>
        </div>
    </div>

</body>
</html>